/* ----------------------------- Genral ------------------------------ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
}

/* ------------------------------- Navigation -------------------------- */

nav {
  background-color: #06203d;
}

.navContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 10vh;
  width: 95vw;
  margin: auto;
}

nav a {
  color: white;
  font-size: 1rem;
  display: inline-block;
  padding: 0.6rem;
}

.logo {
  flex: 2 1 20rem;
  font-family: 'Pattaya', sans-serif;
}

.navLinks {
  flex: 1 1 20rem;
  display: flex;
  justify-content: space-around;
}

/* ------------------------------ Hero ---------------------------- */

.hero {
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.705), transparent) ,url(images/landing-page.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-position: center;
}

.heroText1 {
  font-size: 2rem;
  font-weight: bolder;
}

.heroText2 {
  font-weight: lighter;
  font-size: 1.4rem;
  padding: 1.5rem;
}

.heroBtn {
  background-color: rgb(90, 90, 199);
  font-size: 0.9rem;
  padding: 0.8rem 3rem;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  transition: all 0.3s ease;
}

button:hover {
  background-color: rgb(31, 31, 75);
}


@media (max-width: 677px) {
  /* .logo {
    text-align: center;
  } */

  html {
    font-size: 85%;
  }
}

@media (max-width: 572px) {
  .logo {
    text-align: center;
  }
}